.card {
  background-color: #8d918b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  border-radius: 5px;
  max-width: 100%;
  size: 50px;
}

.card:hover {
  border-color: aqua;
}
